.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: darkred;
}

.card-btn {
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: white;
}
